/*
Variables directly from Figma design system
https://www.figma.com/design/WtRjQIvrzbPix88crobj7X/Design-System---Consumer-Apps
*/

:root {
  /* Constants */
  --color-pearl: #ffffff;
  --color-white: #fafafa;
  --color-grey: #fafcff;
  --color-dark: #eaecf4;
  --color-black: #434c53;
  --color-vanta: #000000;

  /* Colors */
  --color-brand: #2973ff;
  --color-active: #5792ff;
  --color-error: #c73e59;
  --color-yellow: #ffb13d;
  --color-valid: #39a699;

  /* Gradients */
  --gradient-earth: linear-gradient(
    223.53deg,
    #a5feca 3.65%,
    #3edceb 31.56%,
    #2594ff 65.16%,
    #5533ff 102.22%
  );
  --gradient-mars: linear-gradient(135deg, #e25544 2.88%, #620c90 98.14%);
  --gradient-jupiter: linear-gradient(
    51.06deg,
    #9358f7 0.87%,
    #7b78f2 25.96%,
    #6197ee 49.23%,
    #45b5e9 74.93%,
    #10d7e2 97.48%
  );
  --gradient-venus: linear-gradient(135deg, #80f1a6 0%, #efd000 100%);
  --gradient-mercury: linear-gradient(135deg, #fbda61 2.88%, #f76b1c 98.13%);
  --gradient-border-blue: linear-gradient(270deg, #2470ff 0.01%, #5792ff 100%);
  --gradient-blue: linear-gradient(
    180.56deg,
    rgba(36, 112, 255, 0.3) 0.49%,
    rgba(187, 187, 187, 0) 104.66%
  );
  --gradient-grey: linear-gradient(
    180.56deg,
    rgba(21, 24, 26, 0.01) 0.49%,
    rgba(21, 24, 26, 0.15) 104.66%
  );

  /* Text */
  --color-text-primary: #000000;
  --color-text-body: #4c555c;
  --color-text-secondary: #686f75;
  --color-text-tertiary: #838a8f;
  --color-text-brand: #337aff;
  --color-text-interactive-disabled: #b1b6ba;
  --color-text-interactive-active: #5f97ff;
  --color-text-interactive-error: #ca4861;
  --color-text-interactive-error-disabled: #e8b9c5;
  --color-text-interactive-valid: #43aa9e;
  --color-text-interactive-soft-warning: #ffb547;
  --color-text-button-primary: #ffffff;
  --color-text-button-disabled: #fdfdff;

  /* Icon */
  --color-icon-primary: #555e64;
  --color-icon-secondary: #686f75;
  --color-icon-tertiary: #838a8f;
  --color-icon-brand: #3e81ff;
  --color-icon-soft-warning: #feb950;
  --color-icon-interactive-disabled: #dfe2e5;
  --color-icon-interactive-active: #679dff;
  --color-icon-interactive-error: #cc516a;
  --color-icon-interactive-error-disabled: #ebc3cd;
  --color-icon-interactive-valid: #4cafa3;
  --color-icon-button-primary: #feffff;
  --color-icon-button-disabled: #fbfdff;

  /* Border */
  --color-border-base: #434c53;
  --color-border-primary: #ccd0d4;
  --color-border-inactive: #dfe2e5;
  --color-border-interactive-hover: #c3c7cb;
  --color-border-interactive-selected: #babec3;
  --color-border-interactive-focus: #babec3;
  --color-border-interactive-disabled: #e4e7ea;
  --color-border-interactive-active: #90b7ff;
  --color-border-interactive-error: #d98093;

  /* Background */
  --color-background-bloc: #fafcff;
  --color-background-base: #eaecf4;
  --color-background-primary: #e6e9ec;
  --color-background-secondary: #eaecf0;
  --color-background-tertiary: #edf0f3;
  --color-background-overlay: #afb0b2;
  --color-background-alert: #f1dae1;
  --color-background-valid: #cce7e7;
  --color-background-info: #a8c7ff;
  --color-background-interactive-hover: #e2e5e9;
  --color-background-interactive-selected: #edf0f3;
  --color-background-interactive-pressed: #dfe2e5;
  --color-background-interactive-disabled: #f3f5f8;
  --color-background-button-primary: #4888ff;
  --color-background-button-primary-hover: #357bff;
  --color-background-button-primary-pressed: #2470ff;
  --color-background-button-primary-progress: #5a93ff;
  --color-background-button-primary-disabled: #a4c4ff;
  --color-background-button-delete: #faeff4;
  --color-background-button-delete-hover: #fbebf1;
  --color-background-button-delete-active: #fbe7ee;

  /* Shadows */
  --shadow-modal: 0px 3px 12px 0px #00000017;
  --shadow-dropdown: 0px 3px 12px 0px #00000017;
  --shadow-tooltip: 0px 3px 12px 0px #00000017;
  --shadow-toast: 0px -1px 2px 0px #06090b0a, 0px 0px 2px 0px #00000014, 0px 1px 1px 0px #0000001a;

  /* Typography */
  --text-title-xl: 5rem; /* 80px */
  --text-title-lg: 3.75rem; /* 60px */
  --text-title-md: 3rem; /* 48px */
  --text-title-sm: 2.375rem; /* 38px */
  --text-title-xs: 1.25rem; /* 20px */
  --text-body-lg: 1.125rem; /* 18px */
  --text-body-md: 1rem; /* 16px */
  --text-body-sm: 0.938rem; /* 15px */
  --text-body-xs: 0.813rem; /* 13px */
  --text-body-xxs: 0.75rem; /* 12px */
  --text-body-xxxs: 0.688rem; /* 11px */
  --text-body-xxxxs: 0.625rem; /* 10px */

  /* Spacing */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 0.75rem; /* 12px */
  --spacing-md: 2rem; /* 32px */
  --spacing-lg: 5rem; /* 80px */

  /* Padding */
  --padding-xxs: 0.25rem; /* 4px */
  --padding-xs: 0.5rem; /* 8px */
  --padding-sm: 1.25rem; /* 20px */
  --padding-md: 2rem; /* 32px */
  --padding-lg: 5rem; /* 80px */
}

.dark {
  /* Constants */
  --color-pearl: #ffffff;
  --color-white: #fafafa;
  --color-grey: #33363a;
  --color-dark: #222529;
  --color-black: #15181a;
  --color-vanta: #000000;

  /* Colors */
  --color-error: #ff7792;

  /* Gradients */
  --gradient-blue: linear-gradient(
    180.56deg,
    rgba(36, 112, 255, 0.3) 0.49%,
    rgba(39, 42, 46, 0) 104.66%
  );
  --gradient-grey: linear-gradient(180.56deg, rgba(21, 24, 26, 0.01) 0.49%, #15181a 104.66%);

  /* Text */
  --color-text-primary: #ffffff;
  --color-text-body: #f4f4f4;
  --color-text-secondary: #bdbebf;
  --color-text-tertiary: #909294;
  --color-text-brand: #296ff4;
  --color-text-interactive-disabled: #646669;
  --color-text-interactive-active: #548df4;
  --color-text-interactive-error: #f4738d;
  --color-text-interactive-error-disabled: #643e49;
  --color-text-interactive-valid: #38a093;
  --color-text-interactive-soft-warning: #f4aa3c;
  --color-text-button-primary: #f4f4f4;
  --color-text-button-disabled: #434649;

  /* Icon */
  --color-icon-primary: #ffffff;
  --color-icon-secondary: #a7a8a9;
  --color-icon-tertiary: #7a7c7f;
  --color-icon-brand: #296ff4;
  --color-icon-soft-warning: #e9a33b;
  --color-icon-interactive-disabled: #434649;
  --color-icon-interactive-active: #5287ea;
  --color-icon-interactive-error: #e96f87;
  --color-icon-interactive-error-disabled: #643e49;
  --color-icon-interactive-valid: #37998e;
  --color-icon-button-primary: #e9e9ea;
  --color-icon-button-disabled: #4e5154;

  /* Border */
  --color-border-base: #ffffff;
  --color-border-primary: #434649;
  --color-border-inactive: #2d3034;
  --color-border-interactive-hover: #4e5154;
  --color-border-interactive-selected: #595c5f;
  --color-border-interactive-focus: #595c5f;
  --color-border-interactive-disabled: #2d3034;
  --color-border-interactive-active: #446cb4;
  --color-border-interactive-error: #b25a6d;

  /* Background */
  --color-background-bloc: #222529;
  --color-background-base: #15181a;
  --color-background-primary: #383a3e;
  --color-background-secondary: #33363a;
  --color-background-tertiary: #2d3033;
  --color-background-overlay: #181a1d;
  --color-background-alert: #342c31;
  --color-background-valid: #242f32;
  --color-background-info: #3d5c94;
  --color-background-interactive-hover: #3e4144;
  --color-background-interactive-selected: #383a3e;
  --color-background-interactive-pressed: #424548;
  --color-background-interactive-disabled: #282b2f;
  --color-background-button-primary: #2973ff;
  --color-background-button-primary-hover: #296ff4;
  --color-background-button-primary-pressed: #286bea;
  --color-background-button-primary-progress: #2760c9;
  --color-background-button-primary-disabled: #233149;
  --color-background-button-delete: #342c31;
  --color-background-button-delete-hover: #3d2f36;
  --color-background-button-delete-active: #433139;

  /* Shadows */
  --shadow-modal: 0px 3px 12px 0px #00000017;
  --shadow-dropdown: 0px 3px 12px 0px #00000017;
  --shadow-tooltip: 0px 3px 12px 0px #00000017;
  --shadow-toast: 0px -1px 2px 0px #06090b0a, 0px 0px 2px 0px #00000014, 0px 1px 1px 0px #0000001a;
}
